## Install the <code>neo4j</code> to execute write and read from graph database (neo4j).

In [1]:
!pip install neo4j

Collecting neo4j
  Using cached neo4j-5.18.0-py3-none-any.whl
Requirement already satisfied: pytz in d:\anaconda\envs\internship_env\lib\site-packages (from neo4j) (2023.3.post1)
Installing collected packages: neo4j
Successfully installed neo4j-5.18.0

## Import the <code>neo4j</code> in our environment.

In [2]:
from neo4j import GraphDatabase

import neo4j

import pandas as pd

## Connect to the database, and check the connectivity.

In [3]:
URI = "bolt://localhost:7687"
AUTH = ("neo4j", "password")

In [5]:
driver = GraphDatabase.driver(uri=URI, auth=AUTH)

## Let's Create a new dbms

In [6]:
table_creation_query = """
        CREATE 
        (russell:PLAYER{name:"Russell Westbrook", age: 33, number: 0, height: 1.91, weight: 91}),
        (lebron:PLAYER{name:"LeBron James", age: 36, number: 6, height: 2.06, weight: 113}),
        (anthony:PLAYER{name:"Anthony Davis", age: 28, number: 23, height: 2.08, weight: 115}),
        (ja:PLAYER{name:"Ja Morant", age: 22, number: 12, height: 1.91, weight: 79}),
        (luka:PLAYER{name:"Luka Doncic", age: 22, number: 77, height: 2.01, weight: 104}),
        (kristaps:PLAYER{name:"Kristaps Porzingis", age: 26, number: 6, height: 2.21, weight: 109}),
        (kevin:PLAYER{name:"Kevin Durant", age: 33, number: 7, height: 2.08, weight: 109}),
        (james:PLAYER{name:"James Harden", age: 32, number: 13, height: 1.96, weight: 100}),
        (giannis:PLAYER{name:"Giannis Antetokounmpo", age: 26, number: 34, height: 2.11, weight: 110}),
        (khris:PLAYER{name:"Khris Middleton", age: 30, number: 22, height: 2.01, weight: 100}),	
        (joel:PLAYER{name:"Joel Embiid", age: 27, number: 21, height: 2.13, weight: 127}),	
        (tobias:PLAYER{name:"Tobias Harris", age: 29, number: 22, height: 2.03, weight: 100}),

        (frank:COACH{name: "Frank Vogel"}),
        (taylor:COACH{name: "Taylor Jenkins"}),
        (jason:COACH{name: "Jason Kidd"}),
        (steve:COACH{name: "Steve Nash"}),
        (mike:COACH{name: "Mike Budenholzer"}),
        (doc:COACH{name: "Doc Rivers"}),
        (stan:COACH{name: "Stan Van Gundy"}),

        (lakers:TEAM{name:"LA Lakers"}),
        (memphis:TEAM{name:"Memphis Grizzlies"}),
        (mavericks:TEAM{name:"Dallas Mavericks"}),
        (nets:TEAM{name:"Brooklyn Nets"}),
        (bucks:TEAM{name:"Milwaukee Bucks"}),
        (sixers:TEAM{name:"Philadelphia 76ers"}),

        (lebron)-[:TEAMMATES]-> (russell),
        (lebron)<-[:TEAMMATES]- (russell),
        (lebron)-[:TEAMMATES]-> (anthony),
        (lebron)<-[:TEAMMATES]- (anthony),
        (russell)-[:TEAMMATES]-> (anthony),
        (russell)<-[:TEAMMATES]- (anthony),
        (luka)-[:TEAMMATES]-> (kristaps),
        (luka)<-[:TEAMMATES]- (kristaps),
        (kevin)-[:TEAMMATES]-> (james),
        (kevin)<-[:TEAMMATES]- (james),
        (giannis)-[:TEAMMATES]-> (khris),
        (giannis)<-[:TEAMMATES]- (khris),
        (joel)-[:TEAMMATES]-> (tobias),
        (joel)<-[:TEAMMATES]- (tobias),

        (frank)-[:COACHES]->(lebron),
        (frank)-[:COACHES]->(anthony),
        (frank)-[:COACHES]->(russell),
        (taylor)-[:COACHES]->(ja),
        (jason)-[:COACHES]->(luka),
        (jason)-[:COACHES]->(kristaps),
        (steve)-[:COACHES]->(kevin),
        (steve)-[:COACHES]->(james),
        (mike)-[:COACHES]->(giannis),
        (mike)-[:COACHES]->(khris),
        (doc)-[:COACHES]->(tobias),
        (doc)-[:COACHES]->(joel),

        (lebron)-[:PLAYS_FOR {salary: 40000000}]-> (lakers),
        (russell)-[:PLAYS_FOR {salary: 33000000}]-> (lakers),
        (anthony)-[:PLAYS_FOR {salary: 38000000}]-> (lakers),
        (ja)-[:PLAYS_FOR {salary: 8000000}]-> (memphis),
        (luka)-[:PLAYS_FOR {salary: 50000000}]-> (mavericks),
        (kristaps)-[:PLAYS_FOR {salary: 26000000}]-> (mavericks),
        (kevin)-[:PLAYS_FOR {salary: 45000000}]-> (nets),
        (james)-[:PLAYS_FOR{salary: 4200000}]-> (nets),
        (giannis)-[:PLAYS_FOR {salary: 47000000}]-> (bucks),
        (khris)-[:PLAYS_FOR {salary: 43000000}]-> (bucks),
        (joel)-[:PLAYS_FOR {salary: 4000000}]-> (sixers),
        (tobias)-[:PLAYS_FOR {salary: 4000000}]-> (sixers),

        (frank)-[:COACHES_FOR]->(lakers),
        (taylor)-[:COACHES_FOR]->(memphis),
        (jason)-[:COACHES_FOR]->(mavericks),
        (steve)-[:COACHES_FOR]->(nets),
        (mike)-[:COACHES_FOR]->(bucks),
        (doc)-[:COACHES_FOR]->(sixers),


        (lebron)-[:PLAYED_AGAINST {minutes: 38, points: 32, assists: 6, rebounds: 6, turnovers: 2}]-> (memphis),
        (russell)-[:PLAYED_AGAINST {minutes: 29, points: 16, assists: 12, rebounds: 11, turnovers: 16}]-> (memphis),
        (anthony)-[:PLAYED_AGAINST {minutes: 36, points: 27, assists: 2, rebounds: 8, turnovers: 1}]-> (memphis),
        (ja)-[:PLAYED_AGAINST {minutes: 43, points: 42, assists: 7, rebounds: 8, turnovers: 4}]-> (lakers),

        (lebron)-[:PLAYED_AGAINST {minutes: 23, points: 25, assists: 12, rebounds: 3, turnovers: 0}]-> (memphis),
        (russell)-[:PLAYED_AGAINST {minutes: 20, points: 11, assists: 10, rebounds: 3, turnovers: 8}]-> (memphis),
        (anthony)-[:PLAYED_AGAINST {minutes: 30, points: 22, assists: 2, rebounds: 8, turnovers: 1}]-> (memphis),
        (ja)-[:PLAYED_AGAINST {minutes: 35, points: 35, assists: 3, rebounds: 4, turnovers: 2}]-> (lakers),

        (lebron)-[:PLAYED_AGAINST {minutes: 32, points: 18, assists: 3, rebounds: 6, turnovers: 1}]-> (nets),
        (russell)-[:PLAYED_AGAINST {minutes: 26, points: 26, assists: 11, rebounds: 13, turnovers: 6}]-> (nets),
        (anthony)-[:PLAYED_AGAINST {minutes: 30, points: 26, assists: 7, rebounds: 18, turnovers: 3}]-> (nets),
        (kevin)-[:PLAYED_AGAINST {minutes: 43, points: 45, assists: 5, rebounds: 8, turnovers: 2}]-> (lakers),
        (james)-[:PLAYED_AGAINST {minutes: 46, points: 35, assists: 13, rebounds: 4, turnovers: 7}]-> (lakers),

        (kevin)-[:PLAYED_AGAINST {minutes: 34, points: 37, assists: 2, rebounds: 12, turnovers: 1}]-> (memphis),
        (james)-[:PLAYED_AGAINST {minutes: 46, points: 35, assists: 13, rebounds: 4, turnovers: 7}]-> (memphis),
        (ja)-[:PLAYED_AGAINST {minutes: 26, points: 32, assists: 13, rebounds: 6, turnovers: 2}]-> (nets),


        (luka)-[:PLAYED_AGAINST {minutes: 44, points: 23, assists: 7, rebounds: 13, turnovers: 8}]-> (bucks),
        (kristaps)-[:PLAYED_AGAINST {minutes: 24, points: 16, assists: 2, rebounds: 12, turnovers: 0}]-> (bucks),
        (giannis)-[:PLAYED_AGAINST {minutes: 33, points: 26, assists: 16, rebounds: 18, turnovers: 5}]-> (mavericks),
        (khris)-[:PLAYED_AGAINST {minutes: 46, points: 35, assists: 3, rebounds: 4, turnovers: 3}]-> (mavericks),

        (luka)-[:PLAYED_AGAINST {minutes: 33, points: 28, assists: 6, rebounds: 3, turnovers: 3}]-> (sixers),
        (kristaps)-[:PLAYED_AGAINST {minutes: 24, points: 18, assists: 4, rebounds: 11, turnovers: 1}]-> (sixers),
        (joel)-[:PLAYED_AGAINST {minutes: 25, points: 29, assists: 7, rebounds: 22, turnovers: 2}]-> (mavericks),
        (tobias)-[:PLAYED_AGAINST {minutes: 34, points: 18, assists: 13, rebounds: 4, turnovers: 0}]-> (mavericks),

        (giannis)-[:PLAYED_AGAINST {minutes: 45, points: 36, assists: 5, rebounds: 12, turnovers: 3}]-> (sixers),
        (khris)-[:PLAYED_AGAINST {minutes: 35, points: 22, assists: 5, rebounds: 6, turnovers: 0}]-> (sixers),
        (joel)-[:PLAYED_AGAINST {minutes: 33, points: 23, assists: 3, rebounds: 10, turnovers: 3}]-> (bucks),
        (tobias)-[:PLAYED_AGAINST {minutes: 38, points: 23, assists: 4, rebounds: 5, turnovers: 1}]-> (bucks),

        (kevin)-[:PLAYED_AGAINST {minutes: 29, points: 28, assists: 6, rebounds: 8, turnovers: 0}]-> (mavericks),
        (james)-[:PLAYED_AGAINST {minutes: 35, points: 17, assists: 10, rebounds: 8, turnovers: 5}]-> (mavericks),
        (luka)-[:PLAYED_AGAINST {minutes: 37, points: 35, assists: 6, rebounds: 11, turnovers: 4}]-> (nets),
        (kristaps)-[:PLAYED_AGAINST {minutes: 34, points: 27, assists: 4, rebounds: 8, turnovers: 0}]-> (nets),

        (lebron)-[:PLAYED_AGAINST {minutes: 32, points: 27, assists: 12, rebounds: 10, turnovers: 4}]-> (sixers),
        (russell)-[:PLAYED_AGAINST {minutes: 25, points: 19, assists: 9, rebounds: 14, turnovers: 5}]-> (sixers),
        (anthony)-[:PLAYED_AGAINST {minutes: 32, points: 22, assists: 7, rebounds: 12, turnovers: 2}]-> (sixers),
        (joel)-[:PLAYED_AGAINST {minutes: 36, points: 36, assists: 7, rebounds: 12, turnovers: 0}]-> (lakers),
        (tobias)-[:PLAYED_AGAINST {minutes: 32, points: 22, assists: 1, rebounds: 7, turnovers: 0}]-> (lakers);
        """

In [7]:
summary = driver.execute_query(table_creation_query).summary

In [8]:
print("Created {nodes_created} nodes, {labels_added} labels and {relations_created} relationships in {time} ms.".format(
    nodes_created=summary.counters.nodes_created,
    labels_added=summary.counters.labels_added,
    relations_created=summary.counters.relationships_created,
    time=summary.result_available_after
))

Created 25 nodes, 25 labels and 81 relationships in 1075 ms.

## Read from database

After writing a new nodes and relations in our database, let's read it and execute some complex queries on our database.

**First read all players present in our database.**

In [9]:
player_query = """
        MATCH (player:PLAYER)
        RETURN player
        """

records, summary, keys = driver.execute_query(player_query)

print("Total players present in database \t:",len(records))

for record in records:
    print(record["player"]["name"])

Total players present in database 	: 56
Russell Westbrook
LeBron James
Anthony Davis
Russell Westbrook
Luka Doncic
Kristaps Porzingis
Kevin Durant
James Harden
Giannis Antetokounmpo
Khris Middleton
Joel Embiid
Tobias Harris
Russell Westbrook
LeBron James
Anthony Davis
LeBron James
Luka Doncic
Kristaps Porzingis
Kevin Durant
James Harden
Giannis Antetokounmpo
Khris Middleton
Joel Embiid
Tobias Harris
Russell Westbrook
LeBron James
Anthony Davis
Anthony Davis
Luka Doncic
Kristaps Porzingis
Kevin Durant
James Harden
Giannis Antetokounmpo
Khris Middleton
Joel Embiid
Tobias Harris
Russell Westbrook
Luka Doncic
Kristaps Porzingis
Kevin Durant
James Harden
Giannis Antetokounmpo
Khris Middleton
Joel Embiid
Tobias Harris
LeBron James
Anthony Davis
Ja Morant
Luka Doncic
Kristaps Porzingis
Kevin Durant
James Harden
Giannis Antetokounmpo
Khris Middleton
Joel Embiid
Tobias Harris

In [34]:
keys

['player']

Simlar to the player, let's check the teams and coach present in our database.

In [10]:
coach_query = """MATCH (coach:COACH) RETURN coach""" 

records, summary, keys = driver.execute_query(coach_query)

print("Total coachs present in database \t:",len(records), end="\n\n")

for record in records:
    print(record["coach"]["name"])

Total coachs present in database 	: 35

Frank Vogel
Taylor Jenkins
Jason Kidd
Steve Nash
Mike Budenholzer
Doc Rivers
Stan Van Gundy
Frank Vogel
Taylor Jenkins
Jason Kidd
Steve Nash
Mike Budenholzer
Doc Rivers
Stan Van Gundy
Frank Vogel
Taylor Jenkins
Jason Kidd
Steve Nash
Mike Budenholzer
Doc Rivers
Stan Van Gundy
Frank Vogel
Taylor Jenkins
Jason Kidd
Steve Nash
Mike Budenholzer
Doc Rivers
Stan Van Gundy
Frank Vogel
Taylor Jenkins
Jason Kidd
Steve Nash
Mike Budenholzer
Doc Rivers
Stan Van Gundy

In [11]:
team_query = """MATCH (team:TEAM) RETURN team""" 

records, summary, keys = driver.execute_query(team_query)

print("Total teams present in database \t:",len(records), end="\n\n")

for record in records:
    print(record["team"]["name"])

Total teams present in database 	: 30

LA Lakers
Memphis Grizzlies
Dallas Mavericks
Brooklyn Nets
Milwaukee Bucks
Philadelphia 76ers
LA Lakers
Memphis Grizzlies
Dallas Mavericks
Brooklyn Nets
Milwaukee Bucks
Philadelphia 76ers
LA Lakers
Memphis Grizzlies
Dallas Mavericks
Brooklyn Nets
Milwaukee Bucks
Philadelphia 76ers
LA Lakers
Memphis Grizzlies
Dallas Mavericks
Brooklyn Nets
Milwaukee Bucks
Philadelphia 76ers
LA Lakers
Memphis Grizzlies
Dallas Mavericks
Brooklyn Nets
Milwaukee Bucks
Philadelphia 76ers

**So, there are 36 players, 21 coachs and 18 teams present in our database now.**

**Now, let's see which coach train which player and a player play_for to which team.**

In [12]:
general_relation_query = """
                         MATCH (player:PLAYER) -[:PLAYS_FOR]-> (team:TEAM)
                         MATCH (coach:COACH) -[:COACHES]->  (player:PLAYER) 
                         RETURN player, team, coach
                         """

records, summary, keys = driver.execute_query(general_relation_query)

# print("Total teams present in database \t:",len(records), end="\n\n")

# Let's build a dataframe for nice look

df = pd.DataFrame(
    {
        "Player" : [record["player"]["name"] for record in records],
        "Team" : [record["team"]["name"] for record in records],
        "Coach" : [record["coach"]["name"] for record in records],
    }
)
df

                   Player                Team             Coach
0           Anthony Davis           LA Lakers       Frank Vogel
1       Russell Westbrook           LA Lakers       Frank Vogel
2            LeBron James           LA Lakers       Frank Vogel
3      Kristaps Porzingis    Dallas Mavericks        Jason Kidd
4             Luka Doncic    Dallas Mavericks        Jason Kidd
5            James Harden       Brooklyn Nets        Steve Nash
6            Kevin Durant       Brooklyn Nets        Steve Nash
7   Giannis Antetokounmpo     Milwaukee Bucks  Mike Budenholzer
8         Khris Middleton     Milwaukee Bucks  Mike Budenholzer
9           Tobias Harris  Philadelphia 76ers        Doc Rivers
10      Russell Westbrook           LA Lakers       Frank Vogel
11          Anthony Davis           LA Lakers       Frank Vogel
12           LeBron James           LA Lakers       Frank Vogel
13            Luka Doncic    Dallas Mavericks        Jason Kidd
14     Kristaps Porzingis    Dallas Mavericks        Jason Kidd
15           Kevin Durant       Brooklyn Nets        Steve Nash
16           James Harden       Brooklyn Nets        Steve Nash
17  Giannis Antetokounmpo     Milwaukee Bucks  Mike Budenholzer
18        Khris Middleton     Milwaukee Bucks  Mike Budenholzer
19          Tobias Harris  Philadelphia 76ers        Doc Rivers
20      Russell Westbrook           LA Lakers       Frank Vogel
21           LeBron James           LA Lakers       Frank Vogel
22          Anthony Davis           LA Lakers       Frank Vogel
23            Luka Doncic    Dallas Mavericks        Jason Kidd
24     Kristaps Porzingis    Dallas Mavericks        Jason Kidd
25           James Harden       Brooklyn Nets        Steve Nash
26           Kevin Durant       Brooklyn Nets        Steve Nash
27  Giannis Antetokounmpo     Milwaukee Bucks  Mike Budenholzer
28        Khris Middleton     Milwaukee Bucks  Mike Budenholzer
29          Tobias Harris  Philadelphia 76ers        Doc Rivers
30      Russell Westbrook           LA Lakers       Frank Vogel
31           LeBron James           LA Lakers       Frank Vogel
32          Anthony Davis           LA Lakers       Frank Vogel
33     Kristaps Porzingis    Dallas Mavericks        Jason Kidd
34            Luka Doncic    Dallas Mavericks        Jason Kidd
35           Kevin Durant       Brooklyn Nets        Steve Nash
36           James Harden       Brooklyn Nets        Steve Nash
37  Giannis Antetokounmpo     Milwaukee Bucks  Mike Budenholzer
38        Khris Middleton     Milwaukee Bucks  Mike Budenholzer
39          Tobias Harris  Philadelphia 76ers        Doc Rivers
40           LeBron James           LA Lakers       Frank Vogel
41          Anthony Davis           LA Lakers       Frank Vogel
42      Russell Westbrook           LA Lakers       Frank Vogel
43              Ja Morant   Memphis Grizzlies    Taylor Jenkins
44            Luka Doncic    Dallas Mavericks        Jason Kidd
45     Kristaps Porzingis    Dallas Mavericks        Jason Kidd
46           Kevin Durant       Brooklyn Nets        Steve Nash
47           James Harden       Brooklyn Nets        Steve Nash
48        Khris Middleton     Milwaukee Bucks  Mike Budenholzer
49  Giannis Antetokounmpo     Milwaukee Bucks  Mike Budenholzer
50          Tobias Harris  Philadelphia 76ers        Doc Rivers
51            Joel Embiid  Philadelphia 76ers        Doc Rivers

In [16]:
df.groupby(["Team", "Coach"], group_keys=True)[["Player"]].apply(lambda x:x).head(6) # Print the first Team

                                   Player
Team          Coach
Brooklyn Nets Steve Nash 5   James Harden
                         6   Kevin Durant
                         15  Kevin Durant
                         16  James Harden
                         25  James Harden
                         26  Kevin Durant

**Now, let's retrive the player whose IBM index is greater than or equal to 25.**

In [17]:
player_query = """
        MATCH (player:PLAYER)
        WHERE (player.weight / (player.height * player.height)) >= 25
        RETURN player
        """

records, summary, keys = driver.execute_query(player_query)

print("Total players present in database \t:",len(records))

for record in records:
    print(record["player"]["name"])

Total players present in database 	: 30
LeBron James
Anthony Davis
Luka Doncic
Kevin Durant
James Harden
Joel Embiid
LeBron James
Anthony Davis
LeBron James
Luka Doncic
Kevin Durant
James Harden
Joel Embiid
LeBron James
Anthony Davis
Anthony Davis
Luka Doncic
Kevin Durant
James Harden
Joel Embiid
Luka Doncic
Kevin Durant
James Harden
Joel Embiid
LeBron James
Anthony Davis
Luka Doncic
Kevin Durant
James Harden
Joel Embiid

So, out of 36 there are 50% of (18) player whose IBM are greater than or equal to 25 !

**Now, let's order the players name according to their height!**

In [18]:
player_query = """
        MATCH (player:PLAYER)
        RETURN player
        ORDER BY player.height DESC
        LIMIT 10 
        """ # Only retrive the first 10 results

records, summary, keys = driver.execute_query(player_query)

pd.DataFrame(
    {
        "Player" : [record["player"]["name"] for record in records],
        "Height" : [record["player"]["height"] for record in records]
    }
)

               Player  Height
0  Kristaps Porzingis    2.21
1  Kristaps Porzingis    2.21
2  Kristaps Porzingis    2.21
3  Kristaps Porzingis    2.21
4  Kristaps Porzingis    2.21
5         Joel Embiid    2.13
6         Joel Embiid    2.13
7         Joel Embiid    2.13
8         Joel Embiid    2.13
9         Joel Embiid    2.13

So, **Kristaps Porzingis** is the tallest player in our database.

**Now, let's retrive the salary of Kristaps Porzingis.**

In [19]:
player_query = """
        MATCH (player:PLAYER {name: "Kristaps Porzingis"}) -[rel: PLAYS_FOR]-> (:TEAM)
        
        RETURN rel.salary
        """

records, summary, keys = driver.execute_query(player_query)

for record in records:
    print(record.data())
    break

{'rel.salary': 26000000}

Kristaps Porzingis's salary is 26 M.

**So, what is the highest salary player in our database.**

In [20]:
player_query = """
        MATCH (player:PLAYER) -[rel: PLAYS_FOR]-> (team:TEAM)
        
        RETURN player, rel.salary, team
        ORDER BY rel.salary DESC
        """

records, summary, keys = driver.execute_query(player_query)

for record in records:
    print(record.data())
    break

{'player': {'number': 77, 'name': 'Luka Doncic', 'weight': 104, 'age': 22, 'height': 2.01}, 'rel.salary': 50000000, 'team': {'name': 'Dallas Mavericks'}}

So, **Luka Doncic** who is 22 years old, it receive the **$50 million** (for) playing for **Dallas Mavericks**

**Now, let's retrieve the players and their average points.**

In [21]:
player_query = """
            MATCH (player:PLAYER) -[rel:PLAYED_AGAINST]-> (:TEAM)
            RETURN player.name as Player, AVG(rel.points) as Points
            ORDER BY AVG(rel.points) DESC
        """

records, summary, keys = driver.execute_query(player_query)

pd.DataFrame(
    {
        "Player" : [record["Player"] for record in records],
        "Points" : [record["Points"] for record in records]
    }
)

                   Player     Points
0            Kevin Durant  36.666667
1               Ja Morant  36.333333
2   Giannis Antetokounmpo  31.000000
3             Joel Embiid  29.333333
4            James Harden  29.000000
5             Luka Doncic  28.666667
6         Khris Middleton  28.500000
7            LeBron James  25.500000
8           Anthony Davis  24.250000
9           Tobias Harris  21.000000
10     Kristaps Porzingis  20.333333
11      Russell Westbrook  18.000000

## Delete from database

**Now, we want to delete the player (node) "Ja Marant" due to some reason.**

In [22]:
player_query = """
        MATCH (player:PLAYER {name: "Ja Morant"})
        
        DETACH DELETE player
        """

summary = driver.execute_query(player_query).summary

print("Remove {nodes_created} nodes, {labels_added} labels and {relations_created} relationships in {time} ms.".format(
    nodes_created=summary.counters.nodes_deleted,
    labels_added=summary.counters.labels_removed,
    relations_created=summary.counters.relationships_deleted,
    time=summary.result_available_after
))

Remove 1 nodes, 0 labels and 5 relationships in 117 ms.

In [23]:
player_query = """
        MATCH (player:PLAYER {name: "Ja Morant"}) -[rel: PLAYS_FOR]-> (:TEAM)
        
        RETURN rel.salary
        """

records, summary, keys = driver.execute_query(player_query)

for record in records:
    print(record.data())
    break

In [24]:
summary.metadata

{'query': '\n        MATCH (player:PLAYER {name: "Ja Morant"}) -[rel: PLAYS_FOR]-> (:TEAM)\n        \n        RETURN rel.salary\n        ',
 'parameters': {},
 'server': <neo4j.api.ServerInfo at 0x1fa77e24ec0>,
 'database': None,
 't_first': 144,
 'fields': ['rel.salary'],
 'qid': 0,
 'type': 'r',
 't_last': 1,
 'db': 'neo4j'}

No data found!

**Next, we want to delete the relationship. Let's assume that Joel Embiid  stop to play for any team.**

In [25]:
player_query = """
        MATCH (player:PLAYER {name: "Joel Embiid"}) -[rel: PLAYS_FOR]-> (:TEAM)
        
        DELETE rel
        """

records, summary, keys = driver.execute_query(player_query)

print("Remove {nodes_created} nodes, {labels_added} labels and {relations_created} relationships in {time} ms.".format(
    nodes_created=summary.counters.nodes_deleted,
    labels_added=summary.counters.labels_removed,
    relations_created=summary.counters.relationships_deleted,
    time=summary.result_available_after
))

Remove 0 nodes, 0 labels and 1 relationships in 153 ms.

## Update the database

**Let's update the height of player whose id is 3.**

In [26]:
# Before set the height of player (with) id =3, let's check the height of the player.
player_query = """
        MATCH (player:PLAYER)
        WHERE ID(player) = 3
        RETURN player
        """

records, summary, keys = driver.execute_query(player_query)

for record in records:
    print(record.data())
    break

{'player': {'number': 0, 'name': 'Russell Westbrook', 'weight': 91, 'age': 33, 'height': 2.06}}

In [27]:
player_query = """
        MATCH (player:PLAYER)
        WHERE ID(player) = 3
        SET player.height = 4
        RETURN player
        """

records, summary, keys = driver.execute_query(player_query)

for record in records:
    print(record.data())
    break

{'player': {'number': 0, 'name': 'Russell Westbrook', 'weight': 91, 'age': 33, 'height': 4}}

# Error Handling

Because <code>.execute_query()</code> can potentially raise a number of different exceptions, the best way to handle errors is to catch all exceptions in a single <code>try/except</code> block:

In [28]:
# For example let's execute the our first (read) query, which just return the number of players present in our dataset.
# But to print an error, let's return n instead of player.

try:

    player_query = """
            MATCH (player:PLAYER)
            RETURN n
            """
    
    records, summary, keys = driver.execute_query(player_query)
    
    print("Total players present in database \t:",len(records))

except Exception as e:

    print("Something went wrong!")

    print(e)

Something went wrong!
{code: Neo.ClientError.Statement.SyntaxError} {message: Variable `n` not defined (line 3, column 32 (offset: 54))
"            RETURN n"
                    ^}

But if we don't use <code>try/except</code> block, let's see what happens.

In [29]:
player_query = """
        MATCH (player:PLAYER)
        RETURN n
        """

records, summary, keys = driver.execute_query(player_query)

print("Total players present in database \t:",len(records))

CypherSyntaxError: {code: Neo.ClientError.Statement.SyntaxError} {message: Variable `n` not defined (line 3, column 24 (offset: 46))
"        RETURN n"
                ^}

# Now let's visualize our result as graph.

There are few methods, to work with result data. As how we want the format of our data.

And from that, above we see the list or dataframe.

Now, let's see the graph.

But for visualize the graph, we need to install the library <code>pyvis</code>.

In [112]:
!pip install pyvis

Collecting pyvis
  Downloading pyvis-0.3.2-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: ipython>=5.3.0 in d:\anaconda\envs\internship_env\lib\site-packages (from pyvis) (8.20.0)
Requirement already satisfied: jinja2>=2.9.6 in d:\anaconda\envs\internship_env\lib\site-packages (from pyvis) (3.1.3)
Collecting jsonpickle>=1.4.1 (from pyvis)
  Downloading jsonpickle-3.0.3-py3-none-any.whl.metadata (7.3 kB)
Collecting networkx>=1.11 (from pyvis)
  Using cached networkx-3.2.1-py3-none-any.whl.metadata (5.2 kB)
Requirement already satisfied: decorator in d:\anaconda\envs\internship_env\lib\site-packages (from ipython>=5.3.0->pyvis) (5.1.1)
Requirement already satisfied: jedi>=0.16 in d:\anaconda\envs\internship_env\lib\site-packages (from ipython>=5.3.0->pyvis) (0.18.1)
Requirement already satisfied: matplotlib-inline in d:\anaconda\envs\internship_env\lib\site-packages (from ipython>=5.3.0->pyvis) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in d:\anaconda\envs\internship_env\lib\site-packages (from ipython>=5.3.0->pyvis) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in d:\anaconda\envs\internship_env\lib\site-packages (from ipython>=5.3.0->pyvis) (2.15.1)
Requirement already satisfied: stack-data in d:\anaconda\envs\internship_env\lib\site-packages (from ipython>=5.3.0->pyvis) (0.2.0)
Requirement already satisfied: traitlets>=5 in d:\anaconda\envs\internship_env\lib\site-packages (from ipython>=5.3.0->pyvis) (5.7.1)
Requirement already satisfied: colorama in d:\anaconda\envs\internship_env\lib\site-packages (from ipython>=5.3.0->pyvis) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in d:\anaconda\envs\internship_env\lib\site-packages (from jinja2>=2.9.6->pyvis) (2.1.3)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in d:\anaconda\envs\internship_env\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->pyvis) (0.8.3)
Requirement already satisfied: wcwidth in d:\anaconda\envs\internship_env\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=5.3.0->pyvis) (0.2.5)
Requirement already satisfied: executing in d:\anaconda\envs\internship_env\lib\site-packages (from stack-data->ipython>=5.3.0->pyvis) (0.8.3)
Requirement already satisfied: asttokens in d:\anaconda\envs\internship_env\lib\site-packages (from stack-data->ipython>=5.3.0->pyvis) (2.0.5)
Requirement already satisfied: pure-eval in d:\anaconda\envs\internship_env\lib\site-packages (from stack-data->ipython>=5.3.0->pyvis) (0.2.2)
Requirement already satisfied: six in d:\anaconda\envs\internship_env\lib\site-packages (from asttokens->stack-data->ipython>=5.3.0->pyvis) (1.16.0)
Downloading pyvis-0.3.2-py3-none-any.whl (756 kB)
   ---------------------------------------- 0.0/756.0 kB ? eta -:--:--
   -- ------------------------------------ 41.0/756.0 kB 991.0 kB/s eta 0:00:01
   ----------- ---------------------------- 225.3/756.0 kB 2.8 MB/s eta 0:00:01
   -------------------- ------------------- 389.1/756.0 kB 3.0 MB/s eta 0:00:01
   --------------------------------- ------ 624.6/756.0 kB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 756.0/756.0 kB 3.7 MB/s eta 0:00:00
Downloading jsonpickle-3.0.3-py3-none-any.whl (40 kB)
   ---------------------------------------- 0.0/40.8 kB ? eta -:--:--
   ---------------------------------------- 40.8/40.8 kB 1.9 MB/s eta 0:00:00
Using cached networkx-3.2.1-py3-none-any.whl (1.6 MB)
Installing collected packages: networkx, jsonpickle, pyvis
Successfully installed jsonpickle-3.0.3 networkx-3.2.1 pyvis-0.3.2

In [30]:
import pyvis

For graph result, we need to <code>transform</code> the result.

In [32]:
general_relation_query = """
                         MATCH (player:PLAYER) -[plays_rel:PLAYS_FOR]-> (team:TEAM)
                         MATCH (coach:COACH) -[coach_rel:COACHES]->  (player:PLAYER) 
                         RETURN player, team, coach, plays_rel, coach_rel
                         """

graph_result = driver.execute_query(general_relation_query, result_transformer_=neo4j.Result.graph)

nodes_text_properties = {
    "PLAYER" : "name",
    "COACH" : "name",
    "TEAM" : "name",
}

visualize_result(graph_result, nodes_text_properties)

network.html

In [31]:
def visualize_result(query_graph, nodes_text_properties):
    visual_graph = pyvis.network.Network()

    for node in query_graph.nodes:
        node_label = list(node.labels)[0]
        node_text = node[nodes_text_properties[node_label]]
        visual_graph.add_node(node.element_id, node_text, group=node_label)

    for relationship in query_graph.relationships:
        visual_graph.add_edge(
            relationship.start_node.element_id,
            relationship.end_node.element_id,
            title=relationship.type
        )



    visual_graph.show('network.html', notebook=False)